apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: monitoring
spec:
  ports:
    - name: http
      port: 3100
      targetPort: 9000
      protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: loki
  namespace: monitoring
subsets:
  - addresses:
      - ip: LOKI_IP_PLACEHOLDER
    ports:
      - name: http
        port: 9000
        protocol: TCP
